<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <link rel="stylesheet" href="../static/chatbot.css">
</head>
<body>
<div class="container">
    <div class="chatbox" style="position: absolute;
    bottom: 20px;
    right: 20px;">
        <div class="support">
            <div class="header">
                <div class="content_header">
                    <h4 class="heading">AgriBot</h4>
                    <p class="description">You can get your queries answered here...</p>
                </div>
            </div>
            <div class="messages">
                <div></div>
            </div>
            <div class="footer">
                <input type="text" placeholder="Start typing here...">
                <button class="send_footer send_button">Send</button>
                <button class="mic_button">🎤</button>
            </div>
            
        </div>
        <div class="chat_button">
            <button>Query support</button>
        </div>
    </div>
</div>

<script src="../static/chatbot.js"></script>

</body>
</html>
